@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #00000090;
  background-blend-mode: multiply;
}
.hero h1 {
  position: relative;
  left: -0.5rem;
}