@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */
html,body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* Hero Section */
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #00000090;
  background-blend-mode: multiply;
}
.hero h1 {
  position: relative;
  left: -0.5rem;
}

/* About section */
.about__img {
  background-color: #1f293780;
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 50%;
  height: 280px;
  width: 280px;
  position: absolute;
}

.about__content--list {
  column-count: 2;
}

.about__content--list li {
  position: relative;
}

.about__content--list li::before {
  content: "▹";
  position: absolute;
  left: 0;
}
